html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1263px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


body{
    font-family: 'Montserrat', sans-serif;
    color: #959595;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;


}

/*HEADER*/

.header{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
/*.header__burger{*/
/*    display: none;*/
/*}*/
.header__logo{
    display: flex;
    justify-content: space-between;
}
.header__logo-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 34px ;
    color: #fff;
}

/*MENU*/

.menu__list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.menu__item-link{
    font-size: 14px;
    color: #fff;
    margin-right: 30px;
}
.menu__item-link:hover{
    color: #c7b299;
}
.menu__item-link--active{
    color: #c7b299;
}
.header__icons-search{
    margin-left: 20px;
}

/*INTRO*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.intro:after{
    content: url("./../images/slider.png");
    left: 820px;
    bottom: 40px;
    z-index: 2;

    position: absolute;
}
.intro__inner{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #fff;
    max-width: 607px;

    position: relative;
}

.intro__inner:after{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;

    position: absolute;
    top:50%;
    right: -380px;
    z-index: 1;
    transform:rotate(45deg);

}
.intro__inner:before{
     content: "";
     display: block;
     width: 50px;
     height: 50px;
     border-top: 3px solid #fff;
     border-right: 3px solid #fff;

     position: absolute;
     top:50%;
     left: -380px;
     z-index: 1;
     transform:rotate(225deg);
 }
.intro__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
}
.intro__subtitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 52px;
}
.intro__subtitle:after{
}
.intro__text{
    margin-bottom: 50px;
}
/*BUTTON*/

.button{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 40px;
    background-color: #998675;
    border-radius: 5px;
    box-shadow: 0 4px 0  0 #736357;

}
/*!!!!!!!!!!!!!!!!!!!!!!! + GRADIENT*/

/*!!!!!!!!!!!!!!!!!!!!!! + SLIDER*/

.service{
    margin-top: 135px;
}

.service__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    margin-bottom: 110px;
}
.service__item{
    text-align: center;
    padding-right: 30px;
    width: 25%;

    position: relative;
}
.service__item.active:after{
    background-color: #c7b299;
}
.service__item:after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
}
.service__icon{
    position: absolute;
    top: -50px;
    left:110px;
    z-index: 0;
}
.service__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #555555;
    font-size: 22px;
    margin: 30px 0 25px 0;
}
.service__text{
    font-size: 14px;
    margin-bottom: 35px;
}
.example{
    background: #fbfaf8;
    width: 100%;
}
.section__info{
    margin: 0 auto;
    text-align: center;
    max-width: 775px;
    padding: 85px 0 40px 0;
}
.example__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    margin-bottom: 30px;
}
.example__image{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0;
    display: flex;
}

.add{
    background:linear-gradient(to right,#111111, #4e3427);
    height: 150px;
    width: 100%;
}

.add__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}

.add__titles{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}
.add__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.add__title--logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #c7b299;
    margin-right: 10px;
}
.add__text{
    font-size: 18px;
}
/*PROJECTS*/
.projects__inner{
    display: block;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}
.projects__filter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.projects__categories{
    border: #ebebeb 1px solid;
    border-radius: 5px;
    padding: 10px 25px;
    margin-right: 10px;
    color: #9b9b9b;
}
.projects__categories--active{
    background-color: #c7b299;
    color: #ffffff;
}
.project__items--all{
    margin-bottom: 60px;
}
.projects__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
}
.project__item {
    position: relative;
    background-color: #3a2921;


    width: 32%;
    margin-bottom: 30px;
}

.project__image{
    position: relative;
    background-color: #3a2921;
    z-index: 0;
    width: 100%;

    opacity: 1;
}

.project__item .project__image:hover {
    opacity: .2;
    transition: opacity .1s linear;
}

.project__icons{
    position: absolute;
    left: 150px;
    top: 100px;
    transition: all .1s;

    opacity:0;
}
.project__item:hover .project__icons{
    opacity: 1;
}
.project__item:hover .project__description{
    background-color: #362f2d;
}
.project__item:hover:after{
    content: url("../images/arrow_dark.png");
    display: block;

    position: absolute;
    left: 30px;
    top: 235px;
    z-index:2;
}
.project__item:before{
    content: url("../images/arrow.png");
    display: block;

    position: absolute;
    left: 30px;
    top: 235px;
    z-index:2;
}
.project__description{
    background-color: #fbfaf8;
    height: 100px;
    padding: 30px 25px 30px 28px;
    text-align: left;

    position: relative;
    bottom: 8px;
    z-index: 1;
}
.project__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #c7b299;
}
.project__text{
    font-size: 14px;
    color: #d1d1d1;
}
.video{
    background: url("../images/video.png") no-repeat;
    background-size: 100%;
    width: 100%;
}
.video__inner{
    height: 606px;
    margin: 0 auto;
    text-align: center;
    max-width: 560px;
    width: 100%;
    padding: 250px 0 0 0;

    position: relative;
}
.video__inner:before{
    content: url("../images/playbutton.png");
    display: block;
    left:0;
    top: 100px;
    width: 100%;

    position: absolute;
    z-index:1;
}
.video__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 30px;
}
.video__text{
    color: #fff;
}
.video__time{
    color: #c7b299;
    font-weight: 400;
    margin-top: 40px;
}

/*DEVICES*/
.devices{
    padding-top: 80px;
}
.devices__intro{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: 616px;
}
.devices__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.devices__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
}
.devices__text{
    margin:40px 0;
}

.devices__item{
    margin-left: 30px;
    position: relative;
    line-height: 2.1;
}
.devices__item:before{
    content:url("./../images/arrow_list.png");
    left:-50px;
    top:4px;
    z-index: 0;

    position: absolute;
}

/*STATISTICS*/

.statistics{
    background:linear-gradient(to right,#111111, #4e3427);
    height: 300px;
    width: 100%;

    padding-top: 67px;
}
.statistics__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;

}
.statistics__info{
    width: 20%;
}
.statistics__number{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 48px;
    color: #ffffff;
}
.statistics__title{
    font-size: 14px;
    text-transform: uppercase;
    color: #c7b299;
}
.statistics__title:after{
    content: '';
    display: block;
    border-bottom: 2px #fff solid;
    width: 35px;
    margin: 0 auto;
    padding-top: 30px;
}

/*POST*/

.posts__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    position: relative;
    margin-bottom: 100px;
    width: 100%;
}
.post__content{
    position: relative;
    width: 33.333%;
}
.post__description{
    border: 1px solid #f8f8f8;
    max-width: 370px;
    padding: 30px;

    position: absolute;
    top:220px;
    z-index: 1;

}
.post__content:after{
    content: url("./../images/date_gray.png");
    left: 20px;
    top: 20px;
    z-index: 4;
    position: absolute;
}
.post__content:hover:after{
    content: url("./../images/date_beige.png");
    left: 20px;
    top: 20px;
    z-index: 4;
    position: absolute;

}
.post__image{
    background-color: #3a2921;
    opacity: 1;
}
.post__item:hover .post__image img{
    opacity: .1;
}
.post__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #555555;
}
.posts__link{
    font-weight: 400;
    color: #c7b299;
    position: relative;
}
.posts__link:after{
    content: url("./../images/arrow_brown.png");
    position: absolute;
    right: -15px;
    top: -5px;
    z-index: 1;
}
.partners{
    background: url("./../images/landscape.png") no-repeat;
    background-size: 100%;
    max-height: 490px;
    margin-top: 300px;
    padding: 100px 0 50px 0;

}
.partners__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
.footer{
    background-color: #191919;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding-top: 75px;

}
.footer__logo{
    width: 25%;
    padding-right: 20px;
}
.footer__logo-info{
    display: flex;
    justify-content: left;
}
.footer__logo-text{
    color: #555555;
    margin-bottom: 25px;
}
.footer__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #ffffff;

    margin-bottom: 30px;

}
.read-more__link{
    font-weight: 400;
    color: #ffffff;
    position: relative;
}
.read-more__link:after{
    content: url("./../images/arrow_white.png");
    position: absolute;
    right: -15px;
    top: -5px;
    z-index: 1;
}
.footer__posts{
    width: 25%;
    padding-right: 20px;
}
.footer__post{
    position: relative;
    margin-bottom: 20px;

}
.footer__post:hover .footer__post-date{
    color: #ffffff;
}
.footer__post:hover .footer__text{
    color: #c7b299;
}
.footer__post:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #252525;
    left:0;
    bottom:0;
    z-index: 1;
    position: absolute;
}
.footer__post:last-child:after{
    display: none;
}
.footer__post-date{
    color: #363636;
}
.footer__text{
    color: #515151;
    padding-bottom: 20px;
}

.footer__twitter{
    width: 25%;
    padding-right: 20px;
}
.twitter__item{
    position: relative;
    margin-bottom: 20px;
}
.twitter__item:hover .twitter__text{
    color: #ffffff;
}
.twitter__item:first-child{
    margin-bottom: 0;
}
.twitter__item:last-child:after{
    display: none;
}
.twitter__item:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #252525;
    left:0;
    bottom:0;
    z-index: 1;
    position: absolute;
}
.twitter__link{
    color: #03a9d6;
}
.twitter__text{
    color: #555555;
}
.twitter__text-time{
    font-size: 12px;
    color: #363636;
    padding-bottom: 25px;
}
.dribble__widget{
    width: 25%;
}

/*INFO*/

.info{
    background-color: #111111;
}
.info a{
    color: #959595;
}
.info a:hover{
    color: #c7b299;
}
.info__inner{
    display: flex;
    justify-content: space-between;
    padding:45px 0;
    color: #555555;
}
.info__element{
    padding: 0 15px;
    border-right: 1px solid #252525;
}
.info__element:first-child{
    padding-left: 15px;
}
.info__element:last-child{
    border-right: none;
}
.web__info{
    display: flex;
    justify-content: space-between;
}
.copyright__content{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    border-right: 1px solid #252525;
}
.copyright__logo{
    color: #838383;
    padding-left: 5px;
}
.design__info{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.design__resource{
    padding-right: 15px;
    border-right: 1px solid #252525;
}

.design__resource:last-child{
    padding-left: 15px;
    border-right: none;
}







@media (max-width: 1440px){
    .intro:after{
        left: 680px;
    }
    .intro__inner:before{
        left: -300px;
    }
    .intro__inner:after{
        right: -300px;
    }
    .devices{
        padding-top: 0;
    }
}







@media  (max-width: 990px){
    /*HEADER*/
    /*.header__burger{*/
    /*    display: block;*/
    /*    position: relative;*/
    /*    width: 30px;*/
    /*    height: 20px;*/
    /*}*/
    /*.header__burger span{*/
    /*    position: absolute;*/
    /*    background-color: #ffffff;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    height: 2px;*/
    /*    top:9px;*/
    /*}*/
    /*.header__burger:before,*/
    /*.header__burger:after{*/
    /*    content: '';*/
    /*    background-color: #ffffff;*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 2px;*/
    /*    left: 0;*/
    /*}*/
    /*.header__burger:before{*/
    /*    top: 0;*/
    /*}*/
    /*.header__burger:after{*/
    /*    bottom: 0;*/
    /*}*/

    /*INTRO*/

    .intro{
        padding-top: 0;
        width: 100%;
    }
    .intro:after{
        left: 450px;
    }
    .intro__title{
        font-size: 25px;
    }
    .intro__subtitle{
        font-size: 45px;
    }
    .intro__inner:before{
        display: none;
    }
    .intro__inner:after{
        display: none;
    }

    /*SERVICE*/
    .service__icon{
        position: unset;
        margin: 0 auto;
        top: -50px;
        left: 0;
        z-index: 0;
    }
    /*PROJECTS*/
    .project__item{
        width: 48%;
        margin-left: 10px;
    }
    .project__item:before{
        top: 278px;
        left: 30px;
        z-index: 3;
    }
    .project__item:hover:after{
        top: 278px;
        left: 30px;
        z-index: 3;
    }
    /*VIDEO*/
    .video__inner{
        padding: 160px 0 0 0;
        height: 400px;
    }
    .video__inner:before{
        top:35px;
    }
    .video__title{
        font-size: 24px;
        margin-bottom: 5px;
    }
    .video__time{
        margin-top: 10px;
    }
    /*DEVICES*/
    .devices{
        padding-top: 0;
    }
    /*POSTS*/
    .post__content{
        width: 100%;
        margin: 0 auto;
    }
}







@media  (max-width: 770px){
    /*INTRO*/
    .intro:after {
        left: 350px;
    }
    .service{
        margin-top: 50px;
    }
    .service__content{
        margin-bottom: 60px;
    }
    .service__item{
        width:100%;
        padding:0 40px;
        margin-bottom: 30px;
        max-width: 350px;
    }
    .service__icon{
        position: unset;
        margin: 0 auto;
        top: -50px;
        left: 0;
        z-index: 0;
    }
    /*SECTION*/

    .section__info{
        max-width: 550px;
        padding: 45px 0 40px 0;
    }
    /*ADD*/
    .add{
        height: 260px;
    }
    .add__content{
        display:block;
       text-align: center;
    }
    .add__titles{
        display: flex;
        justify-content: center;
    }
    .add__text{
        padding-bottom: 50px;
    }

    /*PROJECTS*/
    .project__item{
        width: 100%;
        margin-left: 20px;
    }
    /*VIDEO*/
    .video__inner{
        height: 300px;
    }
    .video__info{
        display: none;
    }
    .video__inner:before{
        top:100px;
    }
    /*DEVICES*/
    .devices{
        padding-top: 20px;
    }
    .devices__text{
        margin:20px 0;
    }
    .devices__list{
        display: none;
    }
}





@media  (max-width: 575px){

    /*HEADER*/

    .header__logo-title{
        display: none;
    }
    .intro__title{
        font-size: 20px;
    }
    .intro__subtitle{
        font-size: 30px;
    }
    .button{
        padding: 10px 20px;
    }
    /*INTRO*/

    .intro:after {
        left: 250px;
    }


    /*ADD*/
    .add{
        height: 230px;
    }
    .add__titles{
        font-size: 24px;
    }
    .add__text{
        padding-bottom: 35px;
    }
    .add__button{
        font-size: 12px;
        padding: 15px 15px;
    }
    /*SERVICE*/
    .service__item{
        max-width: 500px;
    }
    /*PROJECTS*/
    .projects__inner{
        margin-bottom: 50px;
    }
    .projects__categories{
        margin: 0 10px 10px 0;
        padding: 5px 10px;
    }
    .project__items--all{
        margin-bottom: 0;
    }
    /*VIDEO*/
    .video__inner{
        height:200px;
    }
    .video__inner:before{
        top:50px;
    }
    /*DEVICES*/
    .devices{
        margin: 30px 0;
        padding: 0 20px;
    }
    .device__img{
        display: none;
    }
    .devices__list{
        display: block;
    }
    /*STATISTICS*/
    .statistics {
        height: 100%;
    }
    .statistics__content{
        padding-bottom: 40px;
    }
    .statistics__info{
        width: 50%;
        margin-bottom: 20px;
    }
}
